/* .data-container{
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30px);
} */

.data-item {
  display: grid;
  justify-content: space-between;
  align-items: space-between;
  font-weight: 500;
}

.chart-container {
  margin: 40px 0 40px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "a a n t"
    "c h k p"
    "e l d f"
    "i w m b"
    ". z . .";
}

.chart-item {
  /* outline: 1px solid #3CBC8D; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.added-numbers {
  grid-area: a;
  border: 1px solid #3cbc8d;
}

.number-fate {
  grid-area: n;
  border-top: 1px solid #3cbc8d;
  border-right: 1px solid #3cbc8d;
  border-bottom: 1px solid #3cbc8d;
}

.temper {
  grid-area: t;
  border-top: 1px solid #3cbc8d;
  border-right: 1px solid #3cbc8d;
  border-bottom: 1px solid #3cbc8d;
}

.character {
  grid-area: c;
  border-left: 1px solid #3cbc8d;

  border-bottom: 1px solid #3cbc8d;
}

.energy {
  grid-area: e;
  border-left: 1px solid #3cbc8d;

  border-bottom: 1px solid #3cbc8d;
}

.intrest {
  grid-area: i;
  border-left: 1px solid #3cbc8d;

  border-bottom: 1px solid #3cbc8d;
}

.health {
  grid-area: h;
  border-left: 1px solid #3cbc8d;
  border-right: 1px solid #3cbc8d;
  border-bottom: 1px solid #3cbc8d;
}

.logic {
  grid-area: l;
  border-left: 1px solid #3cbc8d;
  border-right: 1px solid #3cbc8d;
  border-bottom: 1px solid #3cbc8d;
}

.work {
  grid-area: w;
  border-left: 1px solid #3cbc8d;
  border-right: 1px solid #3cbc8d;
  border-bottom: 1px solid #3cbc8d;
}

.luck {
  grid-area: k;
  border-right: 1px solid #3cbc8d;
  border-bottom: 1px solid #3cbc8d;
}

.debt {
  grid-area: d;
  border-right: 1px solid #3cbc8d;
  border-bottom: 1px solid #3cbc8d;
}

.memory {
  grid-area: m;
  border-right: 1px solid #3cbc8d;
  border-bottom: 1px solid #3cbc8d;
}

.family {
  grid-area: f;
  border-right: 1px solid #3cbc8d;
  border-bottom: 1px solid #3cbc8d;
}
.purpose {
  grid-area: p;
  border-right: 1px solid #3cbc8d;
  border-bottom: 1px solid #3cbc8d;
}

.habits {
  grid-area: b;
  border-right: 1px solid #3cbc8d;
  border-bottom: 1px solid #3cbc8d;
}

.life {
  grid-area: z;
  border-left: 1px solid #3cbc8d;
  border-right: 1px solid #3cbc8d;
  border-bottom: 1px solid #3cbc8d;
}
