.data-item {
  display: grid;
  justify-content: center;
  align-items: center;
  
}

.chart-container {
  margin: 40px 0 40px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "a a n t"
    "c h k p"
    "e l d f"
    "i w m b"
    ". z . .";
}

.chart-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.added-numbers {
  grid-area: a;
  border: 1px solid #0a6569;
}

.number-fate {
  grid-area: n;
  border-top: 1px solid #0a6569;
  border-right: 1px solid #0a6569;
  border-bottom: 1px solid #0a6569;
}

.temper {
  grid-area: t;
  border-top: 1px solid #0a6569;
  border-right: 1px solid #0a6569;
  border-bottom: 1px solid #0a6569;
}

.character {
  grid-area: c;
  border-left: 1px solid #0a6569;

  border-bottom: 1px solid #0a6569;
}

.energy {
  grid-area: e;
  border-left: 1px solid #0a6569;

  border-bottom: 1px solid #0a6569;
}

.intrest {
  grid-area: i;
  border-left: 1px solid #0a6569;

  border-bottom: 1px solid #0a6569;
}

.health {
  grid-area: h;
  border-left: 1px solid #0a6569;
  border-right: 1px solid #0a6569;
  border-bottom: 1px solid #0a6569;
}

.logic {
  grid-area: l;
  border-left: 1px solid #0a6569;
  border-right: 1px solid #0a6569;
  border-bottom: 1px solid #0a6569;
}

.work {
  grid-area: w;
  border-left: 1px solid #0a6569;
  border-right: 1px solid #0a6569;
  border-bottom: 1px solid #0a6569;
}

.luck {
  grid-area: k;
  border-right: 1px solid #0a6569;
  border-bottom: 1px solid #0a6569;
}

.debt {
  grid-area: d;
  border-right: 1px solid #0a6569;
  border-bottom: 1px solid #0a6569;
}

.memory {
  grid-area: m;
  border-right: 1px solid #0a6569;
  border-bottom: 1px solid #0a6569;
}

.family {
  grid-area: f;
  border-right: 1px solid #0a6569;
  border-bottom: 1px solid #0a6569;
}
.purpose {
  grid-area: p;
  border-right: 1px solid #0a6569;
  border-bottom: 1px solid #0a6569;
}

.habits {
  grid-area: b;
  border-right: 1px solid #0a6569;
  border-bottom: 1px solid #0a6569;
}

.life {
  grid-area: z;
  border-left: 1px solid #0a6569;
  border-right: 1px solid #0a6569;
  border-bottom: 1px solid #0a6569;
}
