:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

P {
  margin: 0.5em;
  padding: 0;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #0a6569;
  animation: glow 10s ease-in-out infinite;
}
@keyframes glow {
  0%,
  100% {
    text-shadow: 0 0 0px #fff;
  }

  20%,
  40% {
    text-shadow: 0 0 0px #fff;
  }

  30% {
    text-shadow: 0 0 5px #fff, 0 0 10px #ffea82, 0 0 15px #ffea82,
      0 0 20px #ffea82, 0 0 25px #ffea82;
  }
}

image {
  display: block;
}

ul {
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  display: block;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  /* background-color: #3CBC8D; */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.2em;
  line-height: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 800;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  
  background-color: #ffea82;
  color: black;
}

input{
  font-size: 22px;
}
